@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
	padding:0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing:border-box;
}	

nav{
	background: linear-gradient(50deg, blue, black);
	height: 80px;
	width: 100%;
}

.enlace{
	position: absolute;
	padding: 20px 50px;
}

.logo{
	height: 50px;
}

nav ul{
	float: right;
	margin-right:40px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color:azure;
	font-size:20px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}

li a.activate, li a.hover{
	background: red;
	color: black; 
	transition: .35;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

section{
	background: url(fondo.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	height: calc(100vh - 80px);
	
}

body{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2Wy8-y8PDaqzhEb7UfpGcVGuzlNhRWNWDXw&usqp=CAU")
}

.titulo{
	display: flex;
	align-items: center;
	color: azure;
	margin: 30px 30px ;
	text-align: center;
}

.conte_parent{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.conte_parent{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.conte{
	height: 660px;
	width: 450px;
	box-shadow: 0 0 7px #111;
	margin:30px 30px;
	background-color: white;
}

.conte .card{
	height: 200px;
	width: 100%;
	margin-bottom: 170px;
}

.card img{
	margin: auto;
	display: block;
}



.conte .uno img{
	height: 330px;
	width: 300px;
}

.conte .uno :hover{
	content: url('xboxseriesxblanco.png')
}

.conte .uno  {
	background: linear-gradient(50deg, black, blue);
}



.conte .dos img{
	height: 330px;
	width: 300px;
}

.conte .dos :hover{
	content: url('Playstation5negra.png')
}

.conte .dos  {
	background: linear-gradient(50deg, black, blue);
}



.conte .tres img{
	height: 330px;
	width: 300px;
}

.conte .tres :hover{
	content: url('	Nintendoswitchnegra.png')
}

.conte .tres  {
	background: linear-gradient(50deg, black, blue);
}



.conte .cuatro img{
	height: 330px;
	width: 300px;
}

.conte .cuatro :hover{
	content: url('nintendoswitcholed2.png')
}

.conte .cuatro  {
	background: linear-gradient(50deg, black, blue);
}



.conte .cinco img{
	height: 330px;
	width: 300px;
}

.conte .cinco :hover{
	content: url('wii2.png')
}

.conte .cinco  {
	background: linear-gradient(50deg, black, blue);
}

.informacion{
	height: 80px;
	width: 100%;
}

.informacion h1{
	font-size: 1.2em;
	font-family: sans-serif;
	text-align: center;
	color: #111;
	margin-bottom: -10px;
}

.informacion p{
	text-align: center;
	font-size: .9em;
	font-family: sans-serif;
	color: black;
}

.precio{
	height: 50px;
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-precio{
	width: 80px;
}
.precio .precio2{
	font-size: 1em;
}

.button{
	border: none;
	color: blue;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 2px 2px;
	cursor: pointer;
}

.button1{
	background-color: black;
	color: powderblue;
}
.button1:hover{
	background-color: blue;
	color: white;
}

.button1 a {
color: white;
}

.pie-pagina{
    width: 100%;
    background: linear-gradient(50deg, black, blue);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px, 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background: linear-gradient(50deg, black, blue);
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina.grupo-1 .red-social a:hover{
    color: antiquewhite;
}

.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and(max-width:800px) {
    .pie-pagina .grupo-1{
       width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

.form-register{
	width: 400px;
	height: 500px;
	background: linear-gradient(50deg, blue, black);
	padding: 30px;
	margin: 100px;
	margin-top: 100px;
	border-radius: 4px;
	color: white;
	box-shadow: 1px 13px 37px black;
}

.form-register h4{
	font-size: 22px;
	margin-bottom: 20px;
}

.controls{
	width: 100%;
	background: linear-gradient(30deg, rgb(255, 255, 255));
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid grey;
	font-size: 18px;
	color: black;
}

.form-register p{
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}

.form-register a{
	color: white;
	text-decoration: none;
}

.form-register a:hover{
	color: aliceblue;
	text-decoration: underline;
}

.form-register .botons{
	width: 100%;
	background: blue;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}

.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: white;
	font-size: 25px;
}

.cards{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: white;
	box-shadow: 1px 1px 10px black;
	transition: all 400ms ease-out;
	cursor: default;
} 

.cards:hover{
	box-shadow: 5px 5px 20px black;
	transform: translateY(-3%);
}

.cards img{
	width: 100%;
	height: 210px;
}

.cards .contenido-cards{
	padding: 15px;
	text-align: justify;
}

.cards .contenido-cards h3{
	margin-bottom: 15px;
	color: gray;
}

.cards .contenido-cards p{
	line-height: 1.8;
	color: black;
	font-size: 14px;
	margin-bottom: 5px;
}

.cards .contenido-cards a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: aqua;
	border: 1px solid aqua;
	transition: all 400ms ease;
	margin-bottom: 5px;
}

.cards .contenido-cards a:hover{
	background: aqua;
	color: white;
}

@media only screen and {min-width: 320px; } and (max-width:780px){
	.container-card{
		flex-wrap: wrap;
	}
	.cards{
		margin: 15px;
	}

}

.container-img{
	width: 100%;
	max-width: 1100px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 250px;
	grid-gap: 20px;
}



.container-img .box-img figure{
	width: 100%;
	height: 100%;
}

.container-img .box-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-img .box-img:nth-child(1){
	grid-column-start: span 2;
}

.container-img .box-img:nth-child(4){
	grid-column-start: span 2;
}

@media screen and(max_width: 800px){
	.container-img{
		width: 95%;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		grid-template-rows: 200px;
	}
	.container-img .box-img:nth-child(1){
		grid-column-start: span 1;
	}	
}
	
@media screen and (max-width:500px){
	.container-img{
		width: 90%;
		grid-template-columns: repeat(1. 1fr);
	}
	.container-img	.box-img{
		height: 200px;
	}
}


	
.slider{
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.slider ul{
	display: flex;
	animation: cambio 20s infinite alternate linear;
	width: 400%;
}

.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	width: 100%;
	height: 600px;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

@media only screen and (min-width:320px) and (max-width:768px){
	.slider, .slider ul, .slider img{
		height: 100vh;
	}
}